<div class="card-form" style="background-image: linear-gradient(to left, rgba(30,30, 30, 0.4),rgba(30,30, 30, 0.4)), url(https://images.unsplash.com/photo-1497990902153-c6d041aad676?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60)" >
<div class="container" >
<h1 class="header">New Cocktail Creation</h1>
<%= render 'form', cocktail: @cocktail %>

<%= link_to cocktails_path do %>
<i class="fas fa-undo-alt"></i> Back
<% end %>
</div>
</div>
